@page "/task-list"
@using TodoListApp.Components

@inject IConfiguration Configuration

<h3>TodoList</h3>

@if (Tasks == null)
{
    <Loading></Loading>
}
else
{
    <div class="row">
          <TaskSearch OnSearch="SearchTask"></TaskSearch>
    </div>
    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>Assignee</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Priority</td>
                        <td>@item.AssigneeName</td>
                        <td>@item.CreatedDate.ToString(Configuration.GetValue<string>("DateTimeFormat"))</td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td><a href="/task-details/@item.Id">Detail</a></td>
                        <td><a href="/task-edit/@item.Id">Edit</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}